body {
  overflow-x: hidden;
}

.container {
  border: 1px black solid;
  width: 1200px;
  height: 600px;
  position: relative;
}

#mario {
  width: 200px;
  position: absolute;
  bottom: 70px;
  left: 50px;
}

#goomba {
  width: 100px;
  position: absolute;
  bottom: 70px;
  right: 50px;
}

#killer {
  position: absolute;
  width: 100px;
  left: 220px;
  bottom: 70px;
  transform: scaleX(-1);
  display: none;
}
#gameover {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: black;
  line-height: 200px;
  text-align: center;
  color: red;
  font-size: large;
}

#start {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: black;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: large;
}
.background {
  position: absolute;
  background-image: url('../assets/bg.png');
  width: 250%;
  height: 100%;
  animation: slide 3s linear infinite;
}


@keyframes slide {
  from {
    left: 0px;
  }

  to {
    left: -80%;
  }
}